@use "../mixin/flex.scss" as flex;
@use "../mixin/media.scss" as media;
@import "../variables/var.scss";


.container-navbar-desktop {
    width: $_100;
    height: $_7;
    @include flex.flex();
    border-bottom: 1px solid rgba(128, 128, 128, 0.653);
    border-radius: 1rem 1rem 0 0;

    @include media.media("sm") {
        height: $_10;
    }

    .inner-container-name-cell {
        width: $_20;
        height: $_100;
        @include flex.flex(_, _, center, _);
        padding-left: 2rem;
        border-radius: 1rem 0 0 0;

        @include media.media("sm") {
            width: $_75;
        }
    }

    .inner-container-links {
        width: $_80;
        height: $_100;
        @include flex.flex(_, space-between, center, _);

        @include media.media("sm") {
            display: $none;
        }


        .links-left,
        .links-right {
            height: $_100;

            .list-group {
                height: $_100;
                @include flex.flex();

                .list-items-left {
                    height: $_100;
                    border-left: 1px solid rgba(128, 128, 128, 0.653);
                    @include flex.flex(_, center, center, _);


                    &:last-child {
                        border-right: 1px solid rgba(128, 128, 128, 0.653);
                    }

                    .link {
                        padding: 0 2rem;
                    }

                    .active {
                        width: $_100;
                        height: $_100;
                        @include flex.flex(_, _, center, _);
                        border-bottom: 5px solid orange;
                        padding: 0 2rem;
                    }
                }

                .list-items-right {
                    height: $_100;
                    border-radius: 0 1rem 0 0;
                    @include flex.flex(_, center, center, _);
                    border-left: 1px solid rgba(128, 128, 128, 0.653);
                    border-right: 1px solid rgba(128, 128, 128, 0.653);

                    button {
                        border: $none;
                        min-width: 70px;
                        font-size: 1.5rem;
                        background-color: transparent;

                    }

                    .link {
                        padding: 0 3rem;
                    }

                    .active {
                        width: $_100;
                        height: $_100;
                        @include flex.flex(_, _, center, _);
                        border-bottom: 5px solid orange;
                        padding: 0 3rem;
                    }
                }
            }
        }
    }

    // mobile layout
    .container-hamburger-menu {
        display: $none;

        @include media.media("sm") {
            width: $_25;
            height: $_100;
            position: relative;
            @include flex.flex(_, center, center, _);
            border-radius: 0rem 1rem 0 0;
            font-size: 1.4rem;
        }
    }

    .dropdown-menu {
        display: $none;

        @include media.media("sm") {
            width: $_100;
            height: $_90;
            @include flex.flex(_, _, _, _);
            position: absolute;
            top: $_10;
            right: -110%;
            transition: .3s ease-in-out;
            z-index: 1000;
        }
    }

    .dropdown-menu-open {
        display: $none;

        @include media.media("sm") {
            width: $_100;
            height: $_90;
            display: $block;
            position: absolute;
            top: $_10;
            right: $_0;
            transition: .4s ease-in-out;
            z-index: 1000;
        }
    }

    .list-group-navbar {
        @include media.media("sm") {
            width: $_100;
            height: $_90;
        }

        li {
            @include media.media("sm") {
                width: $_100;
                padding: 1.5rem;
                border-bottom: .1px solid grey;
            }
        }
    }
}