.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    border-right: .1px solid rgb(153, 151, 151);
}

.main {
    width: 80%;
    height: 100%;
    display: flex;

    .container-left-contacts {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-right: .1px solid white;

        .top-nav {
            width: 100%;
            border-bottom: .1px solid rgb(154, 154, 154);

            .cell-opened {
                padding: .5rem 1.5rem;
                border-right: .1px solid white;
                display: inline-block;
                height: 100%;

                .inner-cellOpend {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: .7rem;

                    svg {
                        font-size: .7rem;
                        padding-top: .1rem;
                    }

                }
            }
        }

        .form-contacts {
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            .container-response-success {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                h1 {
                    font-size: 2rem;
                }

                p {
                    text-align: center;
                    width: 75%;
                    color: gray;
                    font-size: 1.3rem;
                }

                button {
                    padding: .5rem 1rem;
                    border: none;
                    margin-top: 1rem;
                    background-color: #6c91bd;
                    border-radius: .5rem;
                }
            }

            form {
                width: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;


                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;

                    input,
                    textarea {
                        width: 100%;
                        padding: 1rem;
                        border-radius: 1rem;
                        border: 1px solid #8b8b8b;
                        /* Un colore più scuro */
                        background-color: #f9f9f9;
                        /* Colore chiaro per evidenziare l'ombra */
                        box-shadow: inset -8px -8px -16px rgba(255, 222, 173, 0.8),
                            inset 8px 8px 16px rgba(245, 222, 179, 0.8);
                    }

                }

                button {
                    padding: .5rem 1rem;
                    margin-top: 2rem;
                    border: none;
                    background-color: #6c91bd;
                    border-radius: .5rem;
                }
            }
        }
    }

    .container-right-contacts {
        width: 50%;
        height: 100%;


        .top-nav {
            width: 100%;
            border-bottom: .1px solid rgb(183, 175, 175);

            .cell-opened {
                width: auto;
                padding: .5rem 1.5rem;
                display: inline-block;
                border-right: .1px solid white;
                height: 100%;

                .inner-cellOpend {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: .7rem;

                    svg {
                        font-size: .7rem;
                        padding-top: .1rem;
                    }

                }
            }
        }

        .form-contacts-graphics {
            width: 90%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: .5rem;
            margin: 0 auto;

            .cont-rows-contacts {
                display: flex;
                align-items: flex-start;
                gap: .6rem;

                .colls-numered {
                    width: 10px;
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 1rem;
                }

                .const {
                    color: #b57fcc;
                }

                .const-assignament {
                    color: #4c5cd4;
                }

                .method {
                    color: #4c5cd4;

                }

                .class {
                    display: inline-block;
                    white-space: wrap;
                    color: #ec9b5b;
                }

                .space1 {
                    padding-left: 2rem;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-right: none;
    }


    .main {
        width: 100%;
        height: 100%;
        display: flex;

        .container-left-contacts {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            border-right: none;

            .top-nav {
                display: none;
                width: 100%;
                border-bottom: .1px solid rgb(154, 154, 154);

                .cell-opened {
                    padding: .5rem 1.5rem;
                    border-right: none;
                    display: inline-block;
                    height: 100%;

                    .inner-cellOpend {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: .7rem;

                        svg {
                            font-size: .7rem;
                            padding-top: .1rem;
                        }

                    }
                }
            }

            .form-contacts {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .container-response-success {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    h1 {
                        font-size: 1.6rem;
                    }

                    p {
                        text-align: center;
                        width: 75%;
                        color: gray;
                        font-size: 1rem;
                    }

                    button {
                        padding: .5rem 1rem;
                        border: none;
                        background-color: #6c91bd;
                        border-radius: .5rem;
                    }
                }

                form {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;
                    padding-bottom: 4rem;


                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;

                        input,
                        textarea {
                            width: 100%;
                            padding: 1rem;
                            border-radius: 1rem;
                            border: 1px solid #8b8b8b;
                            /* Un colore più scuro */
                            background-color: #f9f9f9;
                            /* Colore chiaro per evidenziare l'ombra */
                            box-shadow: inset -8px -8px -16px rgba(255, 222, 173, 0.8),
                                inset 8px 8px 16px rgba(245, 222, 179, 0.8);
                        }

                    }

                    button {
                        padding: .5rem 1rem;
                        margin-top: 2rem;
                        border: none;
                        background-color: #6c91bd;
                        border-radius: .5rem;
                    }
                }
            }
        }

        .container-right-contacts {
            width: 50%;
            height: 100%;
            display: none;


            .top-nav {
                width: 100%;
                border-bottom: .1px solid rgb(183, 175, 175);

                .cell-opened {
                    width: auto;
                    padding: .5rem 1.5rem;
                    display: inline-block;
                    border-right: .1px solid white;
                    height: 100%;

                    .inner-cellOpend {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: .7rem;

                        svg {
                            font-size: .7rem;
                            padding-top: .1rem;
                        }

                    }
                }
            }

            .form-contacts-graphics {
                width: 90%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: .5rem;
                margin: 0 auto;

                .cont-rows-contacts {
                    display: flex;
                    align-items: flex-start;
                    gap: .6rem;

                    .colls-numered {
                        width: 10px;
                        display: flex;
                        justify-content: flex-end;
                        margin-right: 1rem;
                    }

                    .const {
                        color: #b57fcc;
                    }

                    .const-assignament {
                        color: #4c5cd4;
                    }

                    .method {
                        color: #4c5cd4;

                    }

                    .class {
                        display: inline-block;
                        white-space: wrap;
                        color: #ec9b5b;
                    }

                    .space1 {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}