.container-navbar {
    width: 100%;
    height: 7%; //? grandezza principale
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.653);
    border-radius: 1rem 1rem 0 0;
    .inner-container-name {
        width: 20%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        border-radius: 1rem 0 0 0;


    }
    .inner-container-links {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .links-left {
            height: 100%;
            
            ul {
                height: 100%;
                display: flex;
                
                li {
                    height: 100%;
                    border-left: 1px solid rgba(128, 128, 128, 0.653);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 2rem;


                    &:last-child {
                        border-right: 1px solid rgba(128, 128, 128, 0.653);
                    }
                }

            }
        }

        .links-right {
            height: 100%;

            ul {
                height: 100%;
                display: flex;
                
                li {
                    height: 100%;
                    border-radius: 0 1rem 0 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 3rem;
                    border-left: 1px solid rgba(128, 128, 128, 0.653);
                    border-right: 1px solid rgba(128, 128, 128, 0.653);
                }
            }
        }
    }
}