* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  background-color: black;
  color: white;
}

#root {
  background-color: #001627;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97%;
  height: 97vh;
  border: 1px solid rgba(128, 128, 128, 0.653);
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}