@use "./func/bgColors.scss";
@use "./func/charColors.scss";
@use "./mixin/media.scss";
@import "./variables/var.scss";
@import "./common/class.scss";

* {
  margin: $_0;
  padding: $_0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

.app {
  position: fixed;
  top: $_0;
  left: $_0;
  width: $_100;
  height: 100vh;
}

.root {
  position: fixed;
  top: $_50;
  left: $_50;
  transform: translate(-$_50, -$_50);
  width: 97%;
  height: 97vh;
  border: 1px solid rgba(128, 128, 128, 0.653);
  border-radius: 1rem;

  @include media.media("sm") {
    width: $_100;
    height: 100vh;
    border: $none;
  }
}

a {
  text-decoration: $none;
  color: inherit;
}

ul {
  list-style-type: $none;
}